html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
div {
  width: 50%;
  height: 50%;
  float: left;
  position: relative;
}
#div1 {
  background: #ddd;
}
#div2 {
  background: #aaa;
}
#div3 {
  background: #777;
}
#div4 {
  background: #444;
}
